body {
  background-image: url(/img/pexels-pixabay-531880.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login {
  width: 50%;
  height: auto;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(255, 255, 255, 05);
}

.info {
  width: 90%;
  height: auto;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem rgba(255, 255, 255, 05);
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
}

.box span {
  text-align: center;
  border-right: 1px solid #000;
  position: absolute;
  left: 3%;
  font-weight: 500;
  padding: 0.25rem;
  margin: 0 auto;
}

.box input {
  margin: 0rem 0.5rem;
  padding: 0.25rem 3rem;
}

.table {
  max-width: none;
  table-layout: fixed;
  word-wrap: break-word;
}

.fade-in-down {
  animation: fade-in-down 1.3s ease-in-out 1;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .info,
  .login {
    width: 90%;
  }
}

@media (max-width: 753px) {
  .box span {
    display: none;
  }
  .box input {
    text-align: center;
    font-size: 0.8rem;
  }
}
